:root {
    --header-color: #212121;
    --primary-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --third-text-color: #FFFFFF;
    --primery-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --accent-color: #2196F3;
    --first-accent-color: #000000;
    --second-accent-color: #FFFFFF;

}

body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primery-title-color);
    }

/* ----------------------heder------------------- */
.logo-first {
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.logo-second {
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--first-accent-color);
}

.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-color)
}

.adress-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.adress-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
    }

.menu-link:hover, .menu-link:focus, .adress-mail:hover, adress-mail:focus, .adress-tel:hover, adress-tel:focus  {
color: var(--accent-color);
}

/*---------------------main-----------------------*/
.hero-main {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primery-title-color);
}
.hero-link {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-title-color);
}
.hero-item-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.first-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}

.about-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}

.about-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.footer-addres-item {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--third-text-color); 
}
.footer-list {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-text-color);    
}


.logo-third {
font-family: Raleway;
font-style: 400;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-accent-color);
}